<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>
<form name='form-login' action="login" method='POST'>
    <table>
        <tr>
            <td>login:</td>
            <td><input type='text' name='username' value=''/></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type='password' name='password'/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>
<h1>Don't have login?</h1>
<form action="/auth/register" method="GET">
    <button type="submit">registration</button>
</form>
</body>
</html>