<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<h1>User page</h1>
<br>
<div th:object="${userDto}">
    <div>
        <label th:text="login">login</label><br>
        <output th:field="*{login}"/>

    </div>
    <div>
        <label th:text="firstName">first</label><br>
        <output th:field="*{firstName}"/>

    </div>
    <div>
        <label th:text="lastName">last</label><br>
        <output th:field="*{lastName}"/>

    </div>
    <div>
        <label th:text="age">age</label><br>
        <output th:field="*{age}"/>

    </div>
    <div>
        <label th:text="gender">gender</label><br>
        <output th:field="*{gender}"/>

    </div>
    <div>
        <label th:text="interests">interests</label><br>
        <output th:field="*{interests}"/>

    </div>
    <div>
        <label th:text="city">city</label><br>
        <output th:field="*{city}"/>
    </div>
</div>
<form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>