<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<h1>User page</h1>
<br>
<div th:object="${userDto}">
    <table>
        <tr>
            <td>login: </td>
            <td><span th:text="*{login}"></span></td>
        </tr>
        <tr>
            <td>firstName: </td>
            <td><span th:text="*{firstName}"></span></td>
        </tr>
        <tr>
            <td>lastName: </td>
            <td><span th:text="*{lastName}"></span></td>
        </tr>
        <tr>
            <td>age: </td>
            <td><span th:text="*{age}"></span></td>
        </tr>
        <tr>
            <td>gender: </td>
            <td><span th:text="*{gender}"></span></td>
        </tr>
        <tr>
            <td>interests: </td>
            <td><span th:text="*{interests}"></span></td>
        </tr>
        <tr>
            <td>city: </td>
            <td><span th:text="*{city}"></span></td>
        </tr>
    </table>
</div>
<br>
<form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>