<!DOCTYPE html>
<html lang="en" xmlns:custom="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<h1>User page</h1>
<br>
<div th:object="${userDto}">
    <table>
        <tr>
            <td>login:</td>
            <td><span th:text="*{login}"></span></td>
        </tr>
        <tr>
            <td>firstName:</td>
            <td><span th:text="*{firstName}"></span></td>
        </tr>
        <tr>
            <td>lastName:</td>
            <td><span th:text="*{lastName}"></span></td>
        </tr>
        <tr>
            <td>age:</td>
            <td><span th:text="*{age}"></span></td>
        </tr>
        <tr>
            <td>gender:</td>
            <td><span th:text="*{gender}"></span></td>
        </tr>
        <tr>
            <td>interests:</td>
            <td><span th:text="*{interests}"></span></td>
        </tr>
        <tr>
            <td>city:</td>
            <td><span th:text="*{city}"></span></td>
        </tr>
        <br>
        <tr th:if="${@userServiceImpl.isUserNotFriend(__*{id}__)}">
            <td>
                <form th:action="@{/add-to-friends/{friend-id}(friend-id=*{id})}" method="POST">
                    <button type="submit">Add to friends</button>
                </form>
            </td>
        </tr>
        <tr th:if="${@userServiceImpl.isUserFriend(__*{id}__)}">
            <td>
                <form th:action="@{/delete-from-friends/{friend-id}(friend-id=*{id})}" method="POST">
                    <button type="submit">Delete from friends</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
    Friends:
    <br>
    <table style="color: green" id="each">
        <tr th:each="friend : *{friends}">
            <td><a th:href="@{/users/{path}(path=${friend.login})}">[[${friend.login}]]</a></td>
        </tr>
    </table>
    <br>
    <br>
    Dialogs:
    <br>
    TODO implement show
    <br>
    <form action="/dialogs" method="post">
        <input name="name" value=""/>
        <br>
        <button type="submit">New dialog</button>
    </form>
    <br>
</div>
<br>
<br>
Visit page by login:
<form action="/users" method="get">
    <input type="hidden" name="action" value="find-by-login"/>
    <input name="value" value=""/>
    <br>
    <button type="submit">Find</button>
</form>
<br>
<br>
Find users by first and last name:
<form action="/users" method="get">
    <input type="hidden" name="action" value="find-by-name"/>
    <input name="value" value=""/>
    <br>
    <button type="submit">Find</button>
</form>
<br>
<form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>